*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: #008a3d;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 1000;
    border-right: 2px solid #02cc5d;
}

.side-nav.collapsed {
    width: 3vw;
}

.nav-logo, .navigation, .widget{
    opacity: 1;
    transition: opacity 0.3s ease;
}

#collapse-icon{
    position: absolute;
    color: #fff;
    font-size: 2vh;
    margin-top: 3vh;
    margin-left: 15vw;
    border: 2px solid #fff;
    padding: 1vh 0.75vw;
    border-radius: 50%;
    z-index: 10;
}

.side-nav.collapsed #collapse-icon {
    position: fixed;
    top: 50%; /* Center vertically when collapsed */
    transform: rotate(180deg);
    margin-left: 0.1vw;
    border: none;
}

.nav-logo{
    color: #fff;
}

.nav-logo img{
    width: 10vw;
    height: auto;
    margin-top: 5vh;
}

.side-nav.collapsed .nav-logo,
.side-nav.collapsed .navigation
.side-nav.collapsed .widget{
    opacity: 0;
}

.nav-logo h2{
    font-family: 'Gupter', serif;
    font-size: 4vh;
}

.nav-logo p{
    font-family: 'Grenze', serif;
    font-weight: 300;
    font-size: 2vh;
}

.navigation{
    margin-top: 1vh;
    width: 16vw;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-item{
    width: 18vw;
    display: flex;
    padding: 1.5vh 1vw;
}

.nav-item p{
    font-family: 'Gupter', serif;
    font-size: 2.5vh;
    color: #fff;
}

.widget {
    height: 10vh;
    width: 15vw;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    border-radius: 2vh;
}

.widget img {
    height: 4vh;
}

.widget p {
    margin-left: 1vw;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: 1.75vh;
    color: #fff;
}

.side-nav.collapsed .logo img,
.side-nav.collapsed .navigation .nav-item,
.side-nav.collapsed .widget p {
    display: none; /* Hide logo and text in collapsed state */
}